<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prob">
	<!-- 객관식 문제 넣기 -->
	<insert id="insertProb" parameterType="problem">
	insert 
	 into 
     problem(prob_id,prob_type,probtext,obj1,obj2,obj3,obj4,answer,explanation,teacher_id,difficulty)
       values(
         SEQ_problem_prob_id.nextval	
		,#{prob_type}			
		,#{probtext}
		,#{obj1}
		,#{obj2}
		,#{obj3}
		,#{obj4}
		,#{answer}
		,#{explanation}
		,#{teacher_id}
		,#{difficulty}
  		)
  		
  
	</insert>
	
	
	<!-- 주관식 문제 넣기 -->
	<insert id="insertProb2" parameterType="problem">
	insert 
	 into 
     problem(prob_id,prob_type,probtext,answer,explanation,teacher_id,difficulty)
       values(
         SEQ_problem_prob_id.nextval	
		,#{prob_type}			
		,#{probtext}
		,#{answer}
		,#{explanation}
		,#{teacher_id}
		,#{difficulty}
  		)
  		
  
	</insert>
	
	<!-- 주관식 문제 넣기 -->
	<select id="problist" resultType="problem">
		select * from problem
		order by inputdate desc
	
	
	</select>
	
	<!-- 문제하나 들고오기 -->
	<select id="getProb" parameterType="int" resultType="problem">
		select * from problem
		where prob_id = #{prob_id}
	</select>
	
	<!-- 시험문제 내기 -->
	<insert id="submitTest" parameterType="problist">
	insert 
	 into 
     prob_list(test_seq,prob_id)
       values(
         #{test_seq}
		,#{prob_id}
  	)
  		
  
	</insert>
	
	
	<!-- 문제하나 들고오기 -->
	<select id="getTest" parameterType="int" resultType="problist">
		select * from prob_list
		where test_seq = #{test_seq}
	</select>
	

	
	
</mapper>
