@CHARSET "UTF-8";
/* this is my custom.css */

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color:#999;
	text-align: center;
}

.glyphicon {
	
	color: #3f2b22;
	
}

/* .glyphicon-pushpin, 
.glyphicon-heart  {
	 color: #3F2B22;
	
} */

.pull-right.img-responsive{
	margin: 0 0 1em 1em;
	
}
  
  .btn-info{
  
   background-color: #cdae51;
   border-color: #3F2B22;
   color: #fff;
   
  }
  
  
  .btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #3F2B22;
  border-color: #333;
}




.breadcrumb > li + li:before {

  content: none;
}

.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.8em;
}

.active .glyphicon {
	color: #cdae51;
}
td{

	padding:3px;
}

.example{
	margin:100px;
	padding:100px;
	
	
}
body {
	
	padding-top:45px;
	
}

.navbar {
	min-height: 30px;
	height:42px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
